{% extends 'base.html' %}
{% block title %}Add Story{% endblock %}
{% block body %}

{% load static %}

	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>p
	{% endif %}

<!-- {{ request.data }}
{{ request.data.C_MC }} -->

<script type="text/javascript">
	
function GetValueOpt(element){
	document.getElementById("C_MC").value = element.value;
	//document.getElementById("demo1").innerHTML = element.value;
	var myNodelist = document.getElementsByName("C_MC_");
    var i, t;
    for (i = 0; i < myNodelist.length; i++) {
        myNodelist[i].style.backgroundColor = "white";
        if(myNodelist[i] == element){
        	t = i;
        }
    }
    
    myNodelist[t].style.backgroundColor = "grey";
	element.disabled = true;
	element.disabled = true;

}

function GetValueEmotions(element){
	document.getElementById("emotion").value = element.value;
	var myNodelist = document.getElementsByName("emotion_");
    var i, t;
    for (i = 0; i < myNodelist.length; i++) {
        myNodelist[i].style.backgroundColor = "white";
        if(myNodelist[i] == element){
        	t = i;
        }
    }
    
    myNodelist[t].style.backgroundColor = "grey";
	element.disabled = true;
	//document.getElementById("demo2").innerHTML = element.value;
	element.disabled = true;
}

</script>

	<form action="{% url 'storyteste' %}" method="post">
		{% csrf_token %}
		
		<h1><p>Choose the Main Character name</p></h1>
		<div align="right">
			<input type="submit" value="NEXT">
			<br>
		</div>

		<table border="0" style="width:80%;" align="center">
			<tbody>		
				{% for item in request.data.C_MC %}
					{% if forloop.counter|divisibleby:2 %}
							<td width="40%" align="center">
								<input type="image" onclick="GetValueOpt(this)" id="close-CSS" name="C_MC_" value="{{ item }}" src= "{% static "pictures/{{ item }}.png" %}">
								</input>
								<div align="center">
									<label for="item{{ forloop.counter }}">
										{{ item }}
									</label>
								</div>	
								<br>
							</td>
						</tr>
					{% else %}
						<tr>
							<td width="40%" align="center">
								<input type="image" onclick="GetValueOpt(this)" id="close-CSS" name="C_MC_" value="{{ item }}"  src= "{% static "pictures/{{ item }}.png" %}">
								</input>
								<div align="center">
									<label for="item{{ forloop.counter }}">
										{{ item }}
									</label>
								</div>	
								<br>
							</td>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<br><br>

		<h4>
		 	How do you feel with the option selected?
		 </h4><br>
		<table width="80%" align="center" border="0">
			<tbody>
				<tr align="center">
					<td>
						<label for="item{{ forloop.counter }}">
							{{ item }}
						</label>
							<input type="image" onclick="GetValueEmotions(this)" id="close-CSS" name="emotion_" value="happy"  src= "{% static "pictures/happy.png" %}" width="64" height="64">
							</input>
						<br>
					</td>
					<td>
						<label for="item{{ forloop.counter }}">
								{{ item }}
							</label>
							<input type="image" onclick="GetValueEmotions(this)" id="close-CSS" name="emotion_" value="sad"  src= "{% static "pictures/sad.png" %}" width="64" height="64">
							</input>
						<br>
					</td>
					<td>
						<label for="item{{ forloop.counter }}">
								{{ item }}
							</label>
							<input type="image" onclick="GetValueEmotions(this)" id="close-CSS" name="emotion_" value="super_happy"  src= "{% static "pictures/super_happy.png" %}" width="64" height="64">
							</input>
						<br>
					</td>
					<td>
 						<label for="item{{ forloop.counter }}">
								{{ item }}
							</label>
							<input type="image" onclick="GetValueEmotions(this)" id="close-CSS" name="emotion_" value="super_sad" src= "{% static "pictures/super_sad.png" %}" width="64" height="64">
							</input>
						<br>
					</td>
				</tr>
			</tbody>
		</table>

		<input type="hidden" value="{{ request.data }}" name="received_dt" />
		<input type="hidden" value="Opt" name="Opt" id="Opt" />
		
		<input type="hidden" value="" name="C_MC" id="C_MC" />
		<input type="hidden" value="" name="C_MCg" id="C_MCg" />
		<input type="hidden" value="" name="C_MCj_man" id="C_MCj_man" />
		<input type="hidden" value="" name="C_MCj_woman" id="C_MCj_woman" />
		<input type="hidden" value="" name="C_MCj_robot" id="C_MCj_robot" />
		<input type="hidden" value="" name="C_MCd" id="C_MCd" />
		<input type="hidden" value="" name="C_MCw" id="C_MCw" />

		<input type="hidden" value="" name="C_P" id="C_P" />
		
		<input type="hidden" value="" name="C_SC" id="C_SC" />
		<input type="hidden" value="" name="C_SCg" id="C_SCg" />
		<input type="hidden" value="" name="C_SCs_human" id="C_SCs_human" />
		<input type="hidden" value="" name="C_SCs_robot" id="C_SCs_robot" />
		<input type="hidden" value="" name="C_SC_dance" id="C_SC_dance" />

		<input type="hidden" value="" name="C_BG" id="C_BG" />
		<input type="hidden" value="" name="C_BGg" id="C_BGg" />
		<input type="hidden" value="" name="C_BGj_man" id="C_BGj_man" />
		<input type="hidden" value="" name="C_BGj_woman" id="C_BGj_woman" />
		<input type="hidden" value="" name="C_BGj_robot" id="C_BGj_robot" />
		<input type="hidden" value="" name="C_Ba" id="C_Ba" />
		<input type="hidden" value="" name="C_BGp" id="C_BGp" />
		<input type="hidden" value="" name="C_BGd" id="C_BGd" />

		<input type="hidden" value="" name="emotion" id="emotion" />
		


<!-- 	<p id="demo1"></p>
	<p id="demo2"></p> -->

	</form>



{% endblock %}

