{% extends 'base.html' %}
{% block title %} Story Generation{% endblock %}
{% block body %}
{% csrf_token %}


<!-- {{ request.data }}
 -->

    <h1>Main Character</h1>
    <p>Name: 
		{% for cMC in C_MC %}
			{{ cMC }}
		{% endfor %}</p>
    <p>Gender: 
		{% for cMCg in C_MCg %}
			{{ cMCg }}
		{% endfor %}</p>


	{% for C_MCj_man in C_MCj_man %}
		{% if forloop.last and forloop.first %}
			 <p>Job Man: 
			{{ C_MCj_man }} 
		{% endif %}
		
	{% endfor %}</p>

	{% for C_MCj_woman in C_MCj_woman %}
		{% if forloop.last and forloop.first %}
			<p>Job Woman: 
			{{ C_MCj_woman }} 
		{% endif %}
	{% endfor %}</p>

    {% for C_MCj_robot in C_MCj_robot %}
    	{% if forloop.last and forloop.first %}
    		<p>Job Robot: 
			{{ C_MCj_robot }}
		{% endif %}
	{% endfor %}</p>

    <p>Favourite Drink: 
    	{% for C_MCd in C_MCd %}
			{{ C_MCd }}
		{% endfor %}</p>
    <p>Weapon: 
    	{% for C_MCw in C_MCw %}
			{{ C_MCw }}
		{% endfor %}</p>
    <p>Place: 
    	{% for C_P in C_P %}
			{{ C_P }}
		{% endfor %}</p>

    <hr> 

    <h1>Secondary Character</h1>
     <p>Name: 
		{% for cSC in C_SC %}
			{{ cSC }}
		{% endfor %}</p>
    <p>Gender: 
    	{% for C_SCg in C_SCg %}
			{{ C_SCg }}
		{% endfor %}</p>



	{% for C_SCs_human in C_SCs_human %}
		{% if forloop.last and forloop.first %}
			<p>Species Human: 
			{{ C_SCs_human }} 
		{% endif %}
		
	{% endfor %}</p>

    {% for C_SCs_robot in C_SCs_robot %}
    	{% if forloop.last and forloop.first %}
    		<p>Species Robot:  
			{{ C_SCs_robot }}
		{% endif %}
	{% endfor %}</p>


    <p>Favourite Dance: 
    	{% for C_SC_dance in C_SC_dance %}
			{{ C_SC_dance }}
		{% endfor %}</p>

    <hr>

    <h1>Bad Guy</h1>
     <p>Name: 
		{% for cBG in C_BG %}
			{{ cBG }}
		{% endfor %}</p>
    <p>Gender: 
    	{% for C_BGg in C_BGg %}
			{{ C_BGg }}
		{% endfor %}</p>


	{% for C_BGj_man in C_BGj_man %}
		{% if forloop.last and forloop.first %}
			 <p>Job Man: 
			{{ C_BGj_man }} 
		{% endif %}
		
	{% endfor %}</p>

	{% for C_BGj_woman in C_BGj_woman %}
		{% if forloop.last and forloop.first %}
			<p>Job Woman: 
			{{ C_BGj_woman }} 
		{% endif %}
	{% endfor %}</p>

    {% for C_BGj_robot in C_BGj_robot %}
    	{% if forloop.last and forloop.first %}
    		<p>Job Robot: 
			{{ C_BGj_robot }}
		{% endif %}
	{% endfor %}</p>


    <p>Favourite Drink: 
    	{% for C_BGd in C_BGd %}
			{{ C_BGd }}
		{% endfor %}</p>
    <p>Bad Actions: 
    	{% for C_Ba in C_Ba %}
			{{ C_Ba }}
		{% endfor %}</p>
    <p>Place: 
	    {% for C_BGpC_BGp in C_BGp %}
			{{ C_BGpC_BGp }}
		{% endfor %}</p>

    <hr>

{% endblock %}
